<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="text1">
    <p>text1: {{capitalizedText1}}</p>
    <input v-model="text2">
    <p>text2: {{ capitalizeText2()}} </p>
    <input v-model="text3">
    <p>text3: {{ text3}} </p>
    <hr>
    <p>現在の値： {{ count }} </p>
    <button @click='increment'>
      インクリメント
    </button>
    <p v-if="count % 15 === 0">15の倍数</p>
    <p v-else-if="count % 3 === 0">3の倍数</p>
    <p v-else-if="count % 5 === 0">5の倍数</p>
    <p v-else>3の倍数でも5の倍数でもない</p>
    <hr>
    <p v-show="count % 2 === 0">偶数時に表示</p>
    <hr>

    <h2>配列に対するv-for</h2>
    <ul>
      <li v-for="(tweet, index) in tweets"
          :key>
        {{ tweet.user}} : {{tweet.text}}
      </li>
    </ul>

    <h2>オブジェクトに対するv-for</h2>
    <ul>
      <li v-for="(value, key) in article"
      :key="key"
      >
      {{ key }} : {{ value}}
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>