<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="text1">
    <p>text1: {{capitalizedText1}}</p>
    <input v-model="text2">
    <p>text2: {{ capitalizeText2()}} </p>
    <input v-model="text3">
    <p>text3: {{ text3}} </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>