.red {
  color: red;
}

.bg-blue {
  background-color: blue;
}

.yellow {
  color: yellow;
}

.bg-orenge {
  background-color: orange;
}

.green {
  color: green;
}

.bg-tomato {
  background-color: tomato;
}